footer {
    margin-top: 50px;
    align-items: center;
    line-height: 20px;
    text-align: center;
}

hr {
  margin-top: 8px;
  border: 0;
      border-top-color: currentcolor;
      border-top-style: none;
      border-top-width: 0px;
  border-top: 1px solid #eee;
}
