.m1 .big {
    color: rgb(236, 100, 75); 
    transform: rotateZ(0deg);
}

.m2 .big {
    color: rgb(190, 195, 201); 
    transform: rotateZ(0deg);
}

.m3 .big {
    color: rgb(240, 150, 9); 
    transform: rotateZ(0deg);
}
